<%= form_for @target do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <%= f.hidden_field :flavor_id, value: params[:flavor_id] %>
  <%= f.hidden_field :list_id, value: params[:list_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

