<p id="notice"><%= notice %></p>

<%= render @target %>
<p><%= @target.notes %></p>

<span class="target-status"><%= @target.complete ? "Complete" : "Incomplete" %></span>
<%= link_to "Edit", edit_target_path(@target) %>
