<div class="flavor" id="flavor-<%= f.id %>" >
  <h2><%= link_to f.name, f %></h2>
  <p><%= f.notes %></p>
  <h3>Targets</h3>
  <ul class="flavor-targets" id="flavor-<%= f.id %>-targets" >
    <% f.targets.where(list_id: nil).each do |t| %>
      <%= render 'targets/listed', t: t %>
    <% end %>
    <li class="listed-target"><%= link_to 'Add Target', new_target_path(flavor_id: f.id) %></li>
  </ul>
  <% if f.lists.any? %>
    <h3>Lists</h3>
    <% f.lists.each do |l| %>
      <h4><%= link_to l.name, list_path(l) %></h4>
      <ol class="flavor-list" id="flavor-list-<%= l.id %>" >
        <% l.targets.each do |t| %>
          <%= render 'targets/listed', t: t %>
        <% end %>
        <li class="listed-target"><%= link_to "Add Target", new_target_path(list_id: l.id, flavor_id: l.flavor.id) %></li>
      </ol>
    <% end %>
  <% end %>
</div>
