<!DOCTYPE html>
<html>
<head>
  <title>Betterizer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "home", root_path %> | <%= link_to "new target", new_target_path %> | <%= link_to "new flavor", new_flavor_path %>

<%= yield %>

</body>
</html>
